*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;;
}

.clearfix:after{
  content: "";
  display: table;
  clear: both;
}

.container{
  width: 60vw;
  margin: 0 auto;
}

.line:after{
  width: 60px;
  margin: 40px 0;
  content: "";
  display: block;
  border-bottom: 1px solid grey;
}

.line.extra:after{
  width: 100%;
  margin: 40px 0;
  content: "";
  display: block;
  border-bottom: 1px solid grey;
}

/* buttons settings */
.btn{
  color: #fff;
  background-color: #0061FF;
  padding: 5px 15px;
  text-decoration: none;
}

.btn.text{
  margin-top: 40px;
  margin-bottom: 10px;
}

.btn.white{
  color: #000;
  background-color: #fff;
  border: 1px solid black;
}

.btn.big{
  padding: 10px 30px;
}

.btn.extra{
  padding: 10px 90px;
}

.anchor a:visited{
  color: #000;
}

/* HEADER */
header{
  width: 100%;
  height: 70px;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 999;
}

.lefthead{
  line-height: 70px;
  float: left;
}

.righthead{
  line-height: 70px;
  float: right;
}

.navlinks-right{
  text-align: right;
}

.lefthead ul, .righthead ul{
  list-style-type: none;
}

.lefthead ul li, .righthead ul li{
  display: inline-block;
  margin-left: 30px;
}

.lefthead ul li:hover, .righthead ul li:hover{
  border-bottom: 3px solid #000;
}

.lefthead ul li a, .righthead ul li a{
  text-decoration: none;
  color: #000;
}

.headlogo, .navlinks-left{
  float: left;
}

.headbotton{
  height: 70px;
}

.headlogo img{
  vertical-align: middle;
  padding-bottom: 5px;
  margin-left: 20px;
}

/* jumbotron */
.jumbotron{
  width: 100%;
  height: 850px;
  background-color: #B4D0E7;
}

.jumbocontent{
  width: 70%;
  margin: 0 auto;
}

.jumbotitle{
  font-size: 4vw;
  font-weight: bold;
  padding-top: 140px;
  margin-bottom: 40px;
}

.jumbotext{
  width: 30%;
}

.jumboimg{
  width: 70%;
}

.jumboimg img{
  width: 100%;
  padding-left: 60px;
  margin-bottom: 200px;
}

.jumbotext, .jumboimg{
  float: left;
}

.jumbotext p{
  font-size: 1vw;
  margin-bottom: 30px;
}

.jumbotext div:nth-child(3){
  padding-top: 20px;
}

.anchor{
  font-size: 50px;
  padding-top: 30px;
}

/* MAIN */
#maintitle{
  font-weight: bold;
  font-size: 2.5vw;
  margin-bottom: 30px;
}

main .checkbox input{
  font-size: 30px;
}

.planscard{
  height: 1200px;
  margin-top: 50px;
}

/* plan cards  */
.planscard .plan{
  width: calc(90% / 3);
  height: 1150px;
  border: 1px solid gray;
}

.plan.margin1{
  margin-right: 67px;
}

.plan{
  float: left;
}

.top-icon{
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-bottom: 1px solid gray;
}

.card-container{
  width: 85%;
  margin: 0 auto;
  margin-top: 40px;
}

.plan-info{
  margin-bottom: 50px;
}

.plan-info2{
  margin-bottom: 30px;
}

.plan-info span{
  font-weight: 900;
  font-size: 34px;
  margin-bottom: 30px;
}

.plan-info ul li{
  list-style-type: none;
  padding-bottom: 10px;
}

.plan-info ul li:first-child{
  font-weight: bold;
}

.plan-info ul li:last-child{
  color: grey;
}

.plan-info2 ul li{
  list-style-type: none;
  padding-bottom: 30px;
}

.card-button{
  margin-bottom: 30px;
}

.plan-bot-sec span{
  font-size: 20px;
  font-weight: 900;
}

.plan-bot-sec ul{
  margin-top: 20px;
  list-style-type: none;
}

.plan-bot-sec ul li{
  padding-bottom: 30px;
}

.plan-bot-sec ul li:before{
  color: blue;
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
}

/* enterprise plan card */
.plan-lower{
  width: 100%;
  height: 270px;
  border: 1px solid gray;
  margin-bottom: 70px;
}

.plan-lower-content{
  width: 70%;
  padding-top: 40px;
  padding-left: 30px;
}

.plan-lower-content h2{
  font-size: 34px;
}

.plan-lower-content div{
  margin-top: 20px;
}

.plan-lower-text{
  margin-top: 50px;
}

.plan-lower-button{
  width: 30%;
}

.plan-lower-content, .plan-lower-button{
  float: left;
}

#btn-sales-office{
  margin-top: 50px;
  text-align: center;
}

/* MIDDLE MAIN */
.middleimg{
  width: 50%;
}

.middleimg img{
  width: 100%;
}

.middle-text{
  width: 50%;
  padding-left: 50px;
  padding-top: 70px;
}

.middleimg, .middle-text{
  float: left;
}

.middle-title{
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 30px;
}

.middle-content{
  margin-bottom: 40px;
}

/* bottom section main */
.business-section{
  margin-top: 70px;
}

.business-title{
  font-size: 2.5vw;
  font-weight: bold;
  margin-bottom: 50px;
}

.row{
  margin-bottom: 80px;
}

.column{
  float: left;
  padding-right: 30px;
}

.row .column{
  width: calc(100% / 3);
}

.row .column img{
  width: 100%;
}

.row .column h2{
  padding-bottom: 30px;
}

/* sponsor and teams sections */
.section-message{
  width: 30%;
  margin-bottom: 50px;
}

.section-message h2{
  font-size: 1.5vw;
  padding-bottom: 50px;
}

/* clients section */
.clients{
  width: 100vw;
  /* height: 60vw; */
}

section .top-clients ,.banner-clients{
  width: 100%;
}

.side-boxes1, .side-boxes2{
  width: 30vw;
  height: 60vh;
}

.middle-box{
  width: 40vw;
  height: 60vh;
  overflow: scroll;
}

/* side bars client */
.side-boxes1, .middle-box{
  float: left;
}

.side-boxes2{
  float: right;
}

.left-box, .right-box, .left-box2, .right-box2{
  width: calc(100% / 2);
  height: 30vh;
}

.left-box, .right-box, .left-box2, .right-box2{
  float: left;
}

.box-content{
  text-align: center;
  line-height: 30vh;
}

.box-content img{
  width: 50%;
  vertical-align: middle;
  filter: invert(1);
}

/* colors boxes */
 .b1{
   background-color: #A2D39B;
 }
 .b2{
   background-color: #61082C;
 }
 .b3{
   background-color: #1C93CE;
 }
 .b4{
   background-color: #F91D1D;
 }
 .b5{
   background-color: #D5011F;
 }
 .b6{
   background-color: #B4D0E7;
 }
 .b7{
   background-color: #0D2481;
 }
 .b8{
   background-color: #FDD82F;
 }

/* center section client */
.mid-container{
  width: 80%;
  margin: 0 auto;
  height: inherit;
  background-color: #fff;
}

.mid-container img{
  width: 30%; 
  padding-top: 50px;
}

.mid-container div:last-child{
  margin-top: 40px;
}

/* banner clients */
.banner-clients{
  background-color: #B4D0E7;
  margin-bottom: 100px;
}

.bot-banner-title{
  width: 50%;
  height: 40vh;
  padding-top: 100px;
  font-size: 50px;
  color: #61082C;
  margin-right: 20px;
}

.banner-button{
  padding-top: 120px;
}

.bot-banner-title, .banner-button{
  float: left;
}

/* faq section */
#faq{
  font-size: 40px;
  font-weight: bold;
}

.faq-text{
  font: 18px;
  font-weight: 700;
}

.faq-drop a{
  float: right;
  color: #000;
}

.details, .show, .hide:target{
  display: none;
}

.hide:target + .show, .hide:target ~ .details {
  display: block;
}

.details{
  margin-top: 20px;
}

/* FOOTER */
.page-footer{
  width: 100vw;
  height: 500px;
  margin-top: 150px;
  background-color: #000;
}

.footer-container{
  width: 80%;
  margin: 0 auto;
  color: #fff;
}

.links-column{
  float: left;
  padding-right: 100px;
  margin-top: 100px;
}

.links-column ul{
  margin-top: 20px;
}

.links-column ul li{
  list-style-type: none;
  margin-top: 10px;
}

.links-column ul li a{
  text-decoration: none;
  color: #fff;
}