*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.container{
  width: 60%;
  margin: 0 auto;
}

/* buttons settings */
.btn{
  background-color: #0061FF;
  padding: 5px 15px;
  text-decoration: none;
}

.btn.text{
  margin-top: 40px;
  margin-bottom: 10px;
}

.btn.white{
  color: #fff;
}

.anchor a:visited{
  color: #000;
}

/* HEADER */
header{
  width: 100%;
  height: 70px;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 999;
}

.lefthead{
  line-height: 70px;
  float: left;
}

.righthead{
  line-height: 70px;
  float: right;
}

.navlinks-right{
  text-align: right;
}

.lefthead ul, .righthead ul{
  list-style-type: none;
}

.lefthead ul li, .righthead ul li{
  display: inline-block;
  margin-left: 30px;
}

.lefthead ul li:hover, .righthead ul li:hover{
  border-bottom: 3px solid #000;
}

.lefthead ul li a, .righthead ul li a{
  text-decoration: none;
  color: #000;
}

.headlogo, .navlinks-left{
  float: left;
}

.headbotton{
  height: 70px;
}

.headlogo img{
  vertical-align: middle;
  padding-bottom: 5px;
  margin-left: 20px;
}

/* jumbotron */
.jumbotron{
  width: 100%;
  height: 800px;
  background-color: #B4D0E7;
}

.jumbocontent{
  width: 70%;
  margin: 0 auto;
}

.jumbotitle{
  font-size: 4vw;
  font-weight: bold;
  padding-top: 140px;
  margin-bottom: 40px;
}

.jumbotext{
  width: 30%;
}

.jumboimg{
  width: 70%;
}

.jumboimg img{
  width: 100%;
  padding-left: 60px;
  margin-bottom: 200px;
}

.jumbotext, .jumboimg{
  float: left;
}

.jumbotext p{
  font-size: 1vw;
  margin-bottom: 30px;
}

.jumbotext div:nth-child(3){
  padding-top: 20px;
}

.anchor{
  font-size: 50px;
  padding-top: 30px;
}

/* MAIN */
#maintitle{
  font-weight: bold;
  font-size: 2.5vw;
  margin-bottom: 30px;
}

main .checkbox input{
  font-size: 30px;
}

.planscard{
  margin-top: 50px;
  min-height: 800px;
}

/* card content */
.planscard .plan{
  width: calc(100% / 3);
  min-height: 800px;
  float: left;
  border: 1px solid gray;
}

.top-icon{
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-bottom: 1px solid gray;
}

.card-container{
  width: 85%;
  min-height: 500px;
  margin: 0 auto;
  margin-top: 40px;
}

.plan-info{
  margin-bottom: 50px;
  background-color: #ff0000;
}

.plan-info2{
  margin-bottom: 30px;
  background-color: #008000;
}

.plan-info span{
  font-weight: 900;
  font-size: 34px;
  margin-bottom: 30px;
}

.plan-info ul li{
  list-style-type: none;
  padding-bottom: 10px;
}

.plan-info2 ul li{
  list-style-type: none;
  padding-bottom: 30px;
}

.plan-info ul li:first-child{
  font-weight: bold;
}

.plan-info ul li:last-child{
  color: grey;
}